# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment
.env
*.env

# Migrations
*/migrations/*.py
*/migrations/*.pyc