{% extends 'navigation.html' %}
{% block body %}


<div class="container-fluid">
		<center><h5 style = "font-family : 'Monotype Corsiva' ; color : DarkSlateGrey ; font-weight : bold;margin-top:2%">Help You To Find Perfect Car</h5>

	<h2 style = "font-family : 'Monotype Corsiva' ; color : black ; font-weight : bold">Our Car <span style="color:red">Listing</span></h2></center>
<hr>

<div class="container-fluid" style="width:70%;margin-top:3%">
<div class="row">
<div class="colo-md-6">
	<div class="container-fluid" style="margin-bottom:0px;background-color:darkslategrey;color:white">
		<h5 style="margin:0;padding:8px;">Search Car</h5></div>
	<div class="container-fluid" style="margin-top:0px;background-color:lightgrey">

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}


      <label for="inputEmail4">Select car name</label><br>
      <select  name="carname" style="width:150px;height:30px">
		  {% for i in data2 %}
		  <option value="{{i.carname}}">{{i.carname}}</option>
		  {% endfor %}
	  </select><br>
	 <label for="inputEmail4">Select Model</label><br>
      <select  name="carmodel" style="width:150px;height:30px">
		  {% for i in data2 %}
		  <option value="{{i.carmodel}}">{{i.carmodel}}</option>
		  {% endfor %}
	  </select><br>
	 <label for="inputEmail4">Select Fuel Type</label><br>
      <select  name="fueltype" style="width:150px;height:30px">
		  {% for i in data2 %}
		  <option value="{{i.fueltype}}">{{i.fueltype}}</option>
		  {% endfor %}
	  </select><br>
	<input class="hover" type="submit" value="search"style="margin-top:20px;background-color:red">
</form>
	</div>
</div>

			{% if error %}
	<div class="col-md-6">
	<div class="row">
			{% for j in data1 %}
				<div class="col-md-6" style="border-radius:6px;width:25%;margin-top:1%">
					<center><img class="zoom" align="center" src="{{j.img1.url}}" style="width:250px;height:170px;float:center;margin-left:100px" alt="card-img"></center>
				</div>
	<div class="col-md-6">
		<button type="submit" class="btn btn-primary mybtnone" style="margin-left:150px;float:center;width:300px;height:150px;background-color:DarkSlateGrey"><span style="color:red;font-size:20px">{{j.carname}}</span><br> <span style="color:pink">Milage</span>:-{{j.milage}}kmpl <span style="color:pink">CarCover</span>:-{{j.bodycover}}<br> <span style="color:pink">Model</span>:-{{j.carmodel}} <span style="color:pink">Company</span>:-{{j.brand.brand}}<br><a href="{% url 'car_detail' j.id %}">RS:-{{j.carprice}}</button></a></center>
   				</div>

			{% endfor %}

	 </div>
	</div>
{% else %}
	<div class="col-md-6">
	<div class="row">
			{% for j in data2 %}
				<div class="col-md-6" style="border-radius:6px;width:25%;margin-top:1%">
					<center><img class="zoom" align="center" src="{{j.img1.url}}" style="width:250px;height:170px;float:center;margin-left:100px" alt="card-img"></center>
				</div>
	<div class="col-md-6">
		<button type="submit" class="btn btn-primary mybtnone" style="margin-left:150px;float:center;width:300px;height:150px;background-color:DarkSlateGrey"><span style="color:red;font-size:20px">{{j.carname}}</span><br> <span style="color:pink">Milage</span>:-{{j.milage}}kmpl <span style="color:pink">CarCover</span>:-{{j.bodycover}}<br> <span style="color:pink">Model</span>:-{{j.carmodel}} <span style="color:pink">Company</span>:-{{j.brand.brand}}<br><a href="{% url 'car_detail' j.id %}">RS:-{{j.carprice}}</button></a></center>
   				</div>
			{% endfor %}
	 </div>
	</div>

{% endif %}

	<style>


/*scroll button start*/
#scrollbtn
{

position:fixed;
bottom:20px;
right:40px;
z-index:99;
border:none;
color:red;
background:#00abff;
padding:10px;
border-radius:10px;
}
/*scroll button end*/
</style>

 <div class="scrolltop float-right">
  <i class="fa fa-car" onclick="topFunction()" id="scrollbtn"></i>
  </div>

<script>
  scrollbutton = document.getElementById("scrollbtn");
  window.onscroll = function(){scrollFunction()};

  function scrollFunction()
  {
  if(document.body.scrollTop>20 || document.documentElement.scrollTop>20)
  {
  scrollbutton.style.display="block";
  }
  else
  {
  scrollbutton.style.display="none";
  }
  }

  function topFunction()
  {
  document.body.scrollTop = 0;//safari
  document.documentElement.scrollTop = 0;//for chrome
  }

</script>

		</div>
	</div>
 </div>

      </div>





{% endblock %}
